.search__inputs {
  display: none;
  @media (max-width: 900px) {
    padding: 1rem;
    display: grid;
    gap: 0.5rem;

    & > div {
      border-radius: 10px;
      border: 1px solid #f0f0f0;
      padding: 0.8rem 1.4rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-filter {
      justify-content: space-between;
      min-width: 200px;

      select {
        border: none;
        cursor: pointer;
      }
    }
  }
}
