.sidebar {
  padding: 0;
  border-right: 1px solid #f6f6f6;
  width: 0px;
  display: grid;
  align-content: flex-start;
  gap: 4rem;
  background: #fff;
  transition: 200ms linear;
  opacity: 0;
  @media (max-width: 900px) {
    gap: 3rem;
    -webkit-box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .sidebar-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 28px;
    color: $primary-color;
    cursor: pointer;
  }
  @media (max-width: 900px) {
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 5;
    transform: translateX(-100%);
  }

  &.visible {
    opacity: 1;
    width: 200px;
    padding: 1.5rem;
    @media (max-width: 900px) {
      padding-top: 3rem;
      position: fixed;
      height: 100vh;
      width: 200px;
      left: 0;
      top: 0;
      z-index: 15;
      transform: translateX(0);
    }
  }

  &-items {
    display: grid;
    row-gap: 1.5rem;
    column-gap: 2rem;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);

    &__item {
      display: grid;
      align-items: center;
      gap: 0.8rem;
      position: relative;

      &:active,
      &:visited {
        span {
          font-weight: 700;
        }
      }
      img {
        cursor: pointer;
        border-radius: 10px;
        background: #eceff7;
        padding: 0.5rem;
      }
      span {
        cursor: pointer;
        font-size: 12px;
      }

      &.first:nth-child(1) img {
        background: $primary-color;
        &.overlap {
          background: none;
          position: absolute;
          right: 13px;
          top: -8px;
        }
      }
    }
  }

  &-info {
    margin-top: -20px;

    h4 {
      color: $primary-color;
      font-size: 20px;
      span {
        font-weight: 400;
        font-size: 18px;
      }
    }
    p {
      margin-block: 0.8rem;
      font-size: 13px;
      @media (max-width: 900px) {
        font-size: 10px;
      }
    }
    .bar {
      height: 8px;
      background: #ecf1fa;
      border-radius: 50px;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 64%;
        top: 0;
        left: 0;
        background: #ff6e91;
        border-radius: 50px;
      }
    }
  }

  &-cta {
    margin-top: -20px;
    @media (max-width: 900px) {
      margin-top: -30px;
    }
    button {
      background: $primary-color;
      color: #fff;
      padding: 1rem;
      border: none;
      border-radius: 20px;
      position: relative;
      cursor: pointer;

      &:active {
        &::after {
          display: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        background: #cfc8ff;
        width: 90%;
        height: 100%;
        bottom: -10%;
        left: 5%;
        z-index: -10;
        border-radius: 50px;
      }
    }
  }
}
