$primary-color: #51459e;
$secondary-color: #25396f;
$text-color: #7c8db5;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $text-color;
}
hr {
  height: 1px;
  background: #f6f6f6;
  border: none;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
input {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}
select {
  &:focus {
    outline: none;
  }
}
img {
  max-width: 100%;
  object-fit: cover;
}
.container {
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 0.8em;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: #84e8f4;
  height: 5px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100vw;
  border: 3px solid #fff;
}

@import "navbar";
@import "mobilesearch";
@import "sidebar";
@import "mainoverview";
@import "quickaccess";
@import "recent";
@import "rightbar";
@import "sharedfolder";
